<body bgcolor="#FFFFFF" padding="15px">
<div>
    <h1 style="font-size: 23px">A new order was made. HMC & CNC</h1>
    <hr size="1" color="#59b210">

    <h3 style="font-size: 17px; font-weight:normal"><br>

        Order ID: <span style="font-weight:bold; font-size:larger">$machineOrder.orderId</span><br><br>

        Customer:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$machineOrder.firstName $machineOrder.lastName, $machineOrder.company<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$machineOrder.address, $machineOrder.postcode<br>
        &nbsp;&nbsp;&nbsp;&nbsp;email: $machineOrder.email<br>
        &nbsp;&nbsp;&nbsp;&nbsp;phone: $machineOrder.phone<br><br>

        The order:<br>
        <table style="border:1px solid #59b210; border-spacing: 0">
            <tr>
                <td style="border:1px solid #59b210; padding:6px">№</td>
                <td style="border:1px solid #59b210; padding:6px">Machine</td>
                <td style="border:1px solid #59b210; padding:6px">Machine ID</td>
                <td style="border:1px solid #59b210; padding:6px">Price</td>
                <td style="border:1px solid #59b210; padding:6px">Quantity</td>
            </tr>
            #set( $count = 1 )
            #foreach( $machine in $machineOrder.orderList.split("[;]"))
                #set( $m = $machine.split("[,]"))
                <tr>
                    <td style="border:1px solid #59b210; padding:6px">$count.</td>
                    <td style="border:1px solid #59b210; padding:6px">
                        <a href="http://qjvmhoia.jvmhost.net/HMCApp/machine?productId=$m[0]"
                           style="color:#59b210">$m[1]</a>
                    </td>
                    <td style="border:1px solid #59b210; padding:6px">$m[0]</td>
                    <td style="border:1px solid #59b210; padding:6px">$$m[2]</td>
                    <td style="border:1px solid #59b210; padding:6px">$m[3]</td>
                </tr>
                #set( $count = $count + 1 )
            #end
            <tr>
                <td align="right" colspan="4" style="border:1px solid #59b210; padding:6px">Order total</td>
                <td style="border:1px solid #59b210; padding:6px">$$machineOrder.total</td>
            </tr>
        </table>
        <br>

        Payment: $machineOrder.payment<br><br>

        Date of ordering: $machineOrder.date<br><br>

        Best regards,<br>
        <a href="http://qjvmhoia.jvmhost.net/HMCApp/" title="hmccnc.com" target="_blank" rel="noopener"
           style="color:#59b210">hmcnc.com</a><br><br>

        USA: <span style="color:#59b210">+1 203 556-50-69</span><br>
        Email: <span style="color:#59b210">contact@hmccnc.com</span><br>

    </h3>
</div>
</body>